body{
	background-color:black;
	width: 100%;
	height: 100%;
	overflow:hidden;	
}

h1 {
	margin:5px;
}

h4 {
	margin:5px;
}

.text{
	color:white;
}

.text-right{
	float:right;
}

#header{
	text-align:center;
	padding-top:30px;
}

#left-sidebar{
	float:left;
}

#right-sidebar{
	float:right;
	padding-right:20px;
	width:20%;
	word-wrap: break-word;
}

#mapContainer{
	position: absolute;
	bottom: 5%;
	height: 10%;
	width: 100%;
}

#mapLayer{
	text-align:center;
	padding-top: 5px;
}

#map{
	padding-top: 5px;
}

#weather-symbol{
	font-size:30px;
}

.headline {
	display: inline;
	margin-right: 15px;
}
